@import '../../styles/variables';
@import '../../styles/breakpoints.scss';

.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 80px 100px 0 100px;

    @include desktop {
        padding: 80px 60px 0 60px;
    }

    @include tablet {
        padding: 80px 40px 0 40px;
    }

    @include mobile {
        padding: 50px 25px 0 25px;
    }

}

.go-back-button {
    display: flex;
    width: 100%;
    max-width: 1130px;
}

.go-back-button a {

    color: grey;
    font-weight: 500;
}

.product-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}