@import '../../styles/variables';
@import '../../styles/breakpoints';

// HEADER

.home-header {
    width: 100%;
    background-color: #101010f5;
    height: auto;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 39rem;
}

.hero-picture {
    width: 100%;
    margin-top: -90px;
}


.home-header img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 1400px;
    opacity: 0;
    animation: pictureFade 1s forwards;

    @include mobile {
        width: 100%;
    }
}

@keyframes pictureFade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hero-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1190px;
    padding: 0 40px;
    opacity: 0;
    animation: textFade 2s ease-in forwards;
    z-index: 99;

    @include desktop {
        width: 50%;
        margin: 0;
    }

    @include tablet {
        padding: 0;
    }

    @include mobile {
        width: 100%;
    }
}

@keyframes textFade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 50%;

    @include desktop {
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 30px;
    }

    @include tablet {
        gap: 25px;
    }

    @include mobile {
        gap: 20px;
    }

}


.hero-title,
.hero-product,
.hero-description {
    text-align: left;

    @include desktop {
        text-align: center;
    }
}

.hero-title {
    font-size: 18px;
    letter-spacing: 12px;
    color: #ffffff5e;

    @include tablet {
        font-size: 15px;
        letter-spacing: 10px;
    }

    @include mobile {
        letter-spacing: 8px;
    }
}
.hero-product {
    color: $white-light-color;

    @include mobile {
        font-size: 35px;
        line-height: 40px;
    }
}
.hero-description {
    font-size: 18px;
    color: #ffffffad;
    width: 80%;

    @include desktop {
        width: 380px;
        font-size: 16px;
    }

    @include tablet {
        width: 360px;
        font-size: 15px;
        margin-bottom: 10px;
    }

    @include mobile {
        width: 80%;
        font-size: 15px;
    }
}


// MAIN


main {
    padding: 0 100px;

    @include tablet {
        padding: 0 40px;
    }

    @include mobile {
        padding: 0 25px;
    }
}