@import '../../styles/variables';

.navbar {
    position: relative;
    width: 100%;
    background-color: $black-light-color;
    z-index: 99;
    padding: 0 40px;

    &__container {
    width: 100%;
    display: flex;
    max-width: 69.375rem;
    height: 5.625rem;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    border-bottom: 1px solid rgba(250, 250, 250, 0.164);
    }
    
    &__logo {
        position: absolute;
        left: 0;
    }

    &__items {
        display: flex;
        color: $white-light-color;
        list-style: none;
        gap: 30px;
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: 600;
    }

    & li:hover {
        color: $orange-dark-color;
    }

    &__cart {
        position: absolute;
        right: 0;
    }
}
