@import '../../styles/variables';
@import '../../styles/breakpoints.scss';

.navbar {
    position: relative;
    width: 100%;
    background-color: #191919;
    z-index: 99;
    padding: 0 40px;

    &__container {
    width: 100%;
    display: flex;
    max-width: 69.375rem;
    height: 5.625rem;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    border-bottom: 1px solid rgba(250, 250, 250, 0.164);
    }

    &__hamburger {
        display: none;
        cursor: pointer;

        @include tablet {
            display: block;
        }
    }
    
    &__logo {
        display: flex;

    }

    &__items {
        display: flex;
        color: $white-light-color;
        list-style: none;
        gap: 30px;
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: 600;
      
        @include tablet {
            display: none;
        }
    }

    & li:hover {
        color: $orange-dark-color;
    }

    // &__cart {

    // }
}
